@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:300);
/*@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);*/
/*@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200);*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200|Work+Sans|Roboto:100);

*{box-sizing:border-box;}

body
{
	background-color:#131930;
}

h1,h2
{
	font-family: 'Muli', sans-serif;
	color:#ff6666;
}

h1 
{
	font-size: 30px;
}

h2
{
	font-size: 20px
}

nav
{
	background-color: green;
	font-family: arial, sans-serif;
}

a
{
	background-color: gray;
	color: white;
	text-decoration: none;
	display: block;
	float: left;
	padding: 20px;
}

a:hover {
	background-color: blue;
}

section
img{
	padding: 8px;
	margin: 8px;
	width: 100%;
	display: block;
}

.clearfix:after {
	height:0;
	font-size: 0;
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
}

.small 
{
	float: left;
	height: 616px;
	width: 308px;
	overflow: hidden;
}

.small
p {
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 32px;
	text-align: left;
	background-color: #4D5251;
	margin: 8px;
	padding: 12px;
	line-height: 1.5em;
	width:308px;
	height: 50%;
}

.editimg
{
	width:auto;
	height:50%;
}

.large 
{
	float: left;
	width: 616px;
	height: 616px;
}

.large 
p {
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 82px;
	text-align: left;
	background-color: #4D5251;
	margin: 8px;
	padding: 50px;
	width: 616px;
	height: 100%;
}

