/*@import url(https://fonts.googleapis.com/css?family=Muli);*/
/*@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:300);*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200|Work+Sans|Roboto:100);
@import url(https://fonts.googleapis.com/css?family=Roboto:900);

*{box-sizing:border-box;}

body
{
	background-color: #f2ebbf;
	/*background-color: #f2f2f2;*/
}

h1,h2
{
	font-family: 'Roboto', sans-serif;
	color: #f06060;
	font-weight: 100;
}

h1 
{
	font-size: 30px;
	font-weight: 900;
}

h2
{
	font-size: 20px;
}

nav
{
	font-family: 'Roboto', sans-serif;
	margin: auto;
	width: 628px;
}

a
{
	color: #f06060;
	text-decoration: none;
	display: block;
	padding: 25px;
	float: left;
	font-weight: 900;
	font-size: 24px;
}

nav
a:hover 
{
	background-color: #8cbeb2;
	opacity: 0.5;
}

p
a:hover
{
	background-color: #8cbeb2;
}

section
{
	width: 1256px;
	margin: auto;
}

section
img {
	width: 100%;
	display: block;
}

.clearfix:after {
	height:0;
	font-size: 0;
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
}

.small 
{
	float: left;
	height: 308px;
	width: 308px;
	overflow: hidden;
	margin: 0 3px 6px;
}

#smaller
{
	float: left;
	height: 308px;
	width: 308%;
	overflow: hidden;
	margin: 0 3px 6px;
}

.small img:nth-of-type(2){
	margin-top: 6px;
}


.small
p {
	font-family: 'Roboto', sans-serif;
	color: #f2f2f2;
	font-size: 32px;
	text-align: left;
	background-color: #5c4b51;
	/*background-color: black;*/
	line-height: 1.5em;
	width:308px;
	height: 50%;
}

#design
{
	margin: 0px;

}

#love
{
	margin-top: 0;
	margin-right: 6px;
	margin-bottom: 0;
	margin-left: 0px;
	padding: 0;
	height: 616px;
}

#art
{
	font-size: 42px;
	padding: 20px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 6px;
}

#custom
{
	font-size: 34px;
	padding: 20px;
	margin: 6px 0 0;
}

#ingredients
{
	font-size: 38px;
	padding: 12px;
	margin: 0 0 6px;
}

#retro
{
	margin-bottom: 6px;
	padding: 0;
}
.large 
{
	float: left;
	width: 622px;
	height: 616px;
	overflow:hidden;
	margin: 0 3px 6px;

}

.large 
p {
	font-family: 'Roboto', sans-serif;
	color: #f2f2f2;
	font-size: 82px;
	text-align: left;
	background-color: #564b51;
	/*background-color: black;*/
	padding: 40px;
	width: 622px;
	height: 616px;
}

.footer
{
	background-color: #5c4b51;
	/*background-color: black;*/
	font-size: 20px;
	color:#ccc;
	font-family: 'Roboto', sans-serif;
	padding: 25px;
	text-align: center;
	width: 1250px;
	margin: auto;
}

#title
{
	color: #f06060;
	font-size: 32px;
}

#subtitle
{
	color: #f06060;
	font-size: 28;
}

.social
img
{
	height:70px;
	width: 70px;
	float: none;
	margin: auto;
	display: inline-block;
}

.footer
a
{
	text-decoration: none;
	display: inline;
	float: none;
	padding: 0;
}

p
{
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 20px;
	text-align: left;

}

/*@media only screen and (max-width: 1280px){ 
section
{width:900px;} 
.small{width:219px;
height: 432px;}
.large{width: 438px;
height: 432px;}
.large p {width: 438px;
height: 432px;}
}*/

@media only screen and (max-width: 100%){
	section 
	{width: 70%;
	}
	.small{
		width: 17%;
		height: 33%;
	}
	.large{
		width: 34%;
		height: 33%;
	}
	.large p {
		width: 34%;
		height: 33%;
	}
}

/*.btn {
  background: #a3bfaf;
  background-image: -webkit-linear-gradient(top, #a3bfaf, #a3bfaf);
  background-image: -moz-linear-gradient(top, #a3bfaf, #a3bfaf);
  background-image: -ms-linear-gradient(top, #a3bfaf, #a3bfaf);
  background-image: -o-linear-gradient(top, #a3bfaf, #a3bfaf);
  background-image: linear-gradient(to bottom, #a3bfaf, #a3bfaf);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 200px;
  float: right;
}

.btn:hover {
  background: #f2a285;
  text-decoration: none;
}
*/

/*<a href="http://chriscoyier.net" target="_blank">This link will open in new window/tab</a>*/

/*.content_image
{ 
   position: relative; 
   width: 100%;
   opacity: 0.4;
}

h5 { 
   position: absolute; 
   top: 1px;
   bottom: 1px;
   left: 0; 
   width: 100%; 
   padding: 20px;
   font-family: 'Roboto', sans-serif;
   font-size: 56px;
   font-weight: 100;
   color: #f2f2f2;
}

h5 span { 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.7);
}
*/




