@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:300);

body
{
	background-color:#131930;
}

h1,h2,p
{
	font-family: 'Muli', sans-serif;
	color:#ff6666;
}

h1 
{
	font-size: 30px;
}

h2
{
	font-size: 20px
}

p
{
	font-family: 'Source Code Pro', sans-serif;	
	color: white;
	font-size: 70px;
}

section img
{
	display: block;
}

.section-1
img{
	padding: 0px 5px 5px 5px;
	width: 300px;
	height: 300px;
}

.section-2
p {
	font-family: 'Source Code Pro', sans-serif;	
	color: white;
	font-size: 42px;
	text-align: left;
	background-color: #4D5251;
	height: 308.25px;
	width: 308.25px;
	margin: 0;
	/*outline: solid red 2px;*/
}

.section-3
p {
	font-family: 'Source Code Pro', sans-serif;	
	color: white;
	font-size: 30px;
	text-align: left;
	background-color: #4D5251;
	height: 308.25px;
	width: 308.25px;
	margin: 0;
	/*outline: solid yellow 2px;*/
	line-height: 1.5em;
	float: left;
}

.small 
{
	float: left;
	height: 308.25px;
	width: 308.25px;
/*	margin: 2px;
	padding: 2px;*/
	/*outline: solid blue 2px;*/
}

.small
p {
	float: left;
}

.small
img {
	float:left;
}

.large 
{
	float: left;
	background-color: #4D5251;
	height: 616.5px;
	width: 616.5px;
/*	margin: 2px;
	padding: 2px;*/
	/*outline: solid orange 2px;*/
}






