@import url(https://fonts.googleapis.com/css?family=Muli);
body{background-color:#131930;}
h1,h2, p {
font-family: 'Muli', sans-serif;
color:#ff6666;}
h1 {font-size: 30px;}
h2{font-size: 20px}
p{
font-family: 'Muli', sans-serif;
font-size: 16px;
line-height: 1.5em;
margin: 1.5em;
}

section img {
	display: block;
}

.small-left {
	float: left;
}

.large {
	float: left;
	background-color: yellow;
	height: 616.5px;
	width: 616.5px;
}

.small-right {
	float: left;
}
